.para-space {
    margin: 0px 10px 15px;
}

a {
    text-decoration: none;
}

.mat-form-field-group {
    margin-top: 10%;
}

.google-btn {
    min-height: 50px;
}

.facebook-btn {
    min-height: 50px;
}

h1 {
    font-family: 'Vollkorn', serif;
    font-size: 2rem;
    color: #303033;
}

.optn-auth {
    font-family: 'Vollkorn', serif;
    font-size: 15px;
    margin-top: -8px;
    color: #3c3c42;
}
