<section id="xs" fxHide.gt-xs fxShow.lt-sm>

    <div fxLayout="row wrap">
        <img src="../../assets/images/auth-form-curve__img.png" fxFlex="100" alt="">
        <h1 [ngStyle]="{'font-weight': 'bold'}" fxFlexOffset="10%" fxFlex="100">{{exist ? 'Sign In' : 'Sign Up'}}</h1>
        <p [ngStyle]="{'font-size.px': '15', 'margin-top.px': '-10'}" fxFlexOffset="10%">{{exist ? 'Sign In' : 'Sign Up'}} with</p>
    </div>

    <div class="signUp" *ngIf="!exist">

        <div [ngStyle]="{'margin-top.px': '10'}" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5%">
            <button class="google-btn" mat-raised-button fxFlexOffset="12%">
        <img src="../../assets/images/google-logo.png" height="20px" alt="">
      </button>
            <button class="facebook-btn" mat-raised-button>
        <img src="../../assets/images/facebook-logo.png" height="20px" alt="">
      </button>
        </div>

        <div class="mat-form-field-group" fxLayout="column" fxLayoutAlign="space-evenly none">
            <p>
                <mat-form-field fxFlex="80" fxFlexOffset="10%" appearance="outline">
                    <mat-icon matSuffix>person</mat-icon>
                    <mat-label>Name</mat-label>
                    <input matInput type="text" placeholder="Ex. Saygin Yalcin">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field fxFlex="80" fxFlexOffset="10%" appearance="outline">
                    <mat-icon matSuffix>phone</mat-icon>
                    <mat-label>Phone Number</mat-label>
                    <input matInput type="number">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field fxFlex="80" fxFlexOffset="10%" appearance="outline">
                    <mat-icon matSuffix>email</mat-icon>
                    <mat-label>Email</mat-label>
                    <input matInput type="email" placeholder="Ex. saygin@gmail.com">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field fxFlex="80" fxFlexOffset="10%" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
                </mat-form-field>
            </p>
        </div>

        <div fxLayout="column" fxLayoutAlign="space-evenly none">
            <p fxFlexAlign="center" class="para-space">
                Creating an account means you're okay with <br> our <a href="#">Terms of Service</a> and our <a href="#">Privacy
          Policy</a>
            </p>
            <p>
                <button fxFlex="60" fxFlexOffset="20" mat-raised-button color="primary">Create an Account</button>
            </p>
            <p fxFlexAlign="center" [ngStyle]="{'margin-top.px': '5'}">
                Already have an account? <a href="#" (click)="exist =! exist">Sign In</a>
            </p>
        </div>

    </div>

    <div class="signIn" *ngIf="exist">
        <div [ngStyle]="{'margin-top.px': '10'}" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5%">
            <button class="google-btn" mat-raised-button fxFlexOffset="12%">
        <img src="../../assets/images/google-logo.png" height="20px" alt="">
      </button>
            <button class="facebook-btn" mat-raised-button>
        <img src="../../assets/images/facebook-logo.png" height="20px" alt="">
      </button>
        </div>

        <div class="mat-form-field-group" fxLayout="column" fxLayoutAlign="space-evenly none">
            <p>
                <mat-form-field fxFlex="80" fxFlexOffset="10%" appearance="outline">
                    <mat-icon matSuffix>email</mat-icon>
                    <mat-label>Email</mat-label>
                    <input matInput type="email" placeholder="Ex. saygin@gmail.com">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field fxFlex="80" fxFlexOffset="10%" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
                </mat-form-field>
            </p>
            <p [ngStyle]="{'margin-top.rem': '-1.5'}">
                <a href="#" fxFlexOffset="60%">Forgot Password?</a>
            </p>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-evenly none" [ngStyle]="{'margin-top.px': '10'}">
            <p>
                <button fxFlex="60" fxFlexOffset="20" mat-raised-button color="primary">Sign In</button>
            </p>
            <p fxFlexAlign="center" [ngStyle]="{'margin-top.px': '10'}">
                Don't have an account. <a href="#" (click)="exist =! exist">Sign Up</a>
            </p>
        </div>

    </div>

</section>